* {
  margin: 0;
  padding: 0;
}

.about-codestar {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg?auto=webp&quality=95&crop=16:9&width=675');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay {
  
  height: 100%;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}





.container {
  text-align: center;

  background-color: rgb(255, 240, 229);
}

.header {
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

.root {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.job {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.links {
  margin: 14px;
}

.links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.links a:hover {
  transform: scale(1.5);
}

.links a i {
  color: #444;
}

@media screen and (max-width: 600px) {
  .teams {
    max-width: 100%;
  }
}

.contact-us {
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin: 2rem 0;
  text-align: center;
  padding: 2rem 0;
}

.contact-info span {
  display: block;
}

.contact-info div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #f7327a;
}

.contact-info div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}






*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100%;
  background-color: #fff0e5;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headerr {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 5px;
}

.headerr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.header-burger {
  display: none;
}

.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header-list li {
  margin-left: 20px;
  list-style: none;
}

.header-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.header-logo {
  overflow: hidden;
  width: 134.88px;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: block;
}

.header-logo img {
  max-width: 100%;
}

.header-menu button {
  border: none;
  background: none;
  padding: 0px 3px 0px 3px;
}

@media (max-width: 820px) {
  .header-menu button {
    background-color: rgb(58, 16, 229);
    color: white;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.log-in-li {
  margin-left: 5px;
}

.log-li {
  margin-left: 430px;
  padding-right: 0px;
}

.sign-up-header {
  display: none;
}

@media (max-width: 820px) {
  body.lock {
    overflow: hidden;
  }

  .header-body {
    height: 50px;
  }

  .header-logo img {
    max-height: 50px;
    max-width: 134px;
  }

  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header-burger span {
    background-color: black;
    position: absolute;
    width: 15px;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 15px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header-burger::after {
    bottom: 0;
  }

  .header-burger::before {
    top: 0;
  }

  .header-burger.active span {
    transform: scale(0);
  }

  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: white;
    padding: 70px 10px 20px 10px;
  }

  .header-menu.active {
    top: 0;
  }

  .header-list {
    display: flex;
    position: relative;
    z-index: 2;
    display: block;
  }

  .header-list li {
    margin: 0px 20px 20px 0px;
  }

  .header-link {
    font-size: 36px;
  }

  .log-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .log-li {
    margin-left: 0px;
  }

  .sign-up-header {
    display: block;
  }
}