*{
  list-style-type: none;
  
}
a{
  text-decoration: none;
  color: black;
}
hr{
  color:#808080;
	background:black  ;
	height:2px;
	border:none
}
body {
  background-color:#fff0e5;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: black
  
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#fff0e5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color:#fff0e5;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: black;
  color: white;;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}



#slide-panel,#slide-panel2{
  display: none;
}
#plus,#plus2{
  vertical-align: middle;
  transition: all 0.2s linear;
}

#plus.transform,#plus2.transform {
  transform: rotate(45deg);
}

#click,#click2{
  text-align: center;;
}
#slide-panel ul li,#slide-panel2 ul li{
  padding: 0.5rem 0 0.5rem 0;
  
}
.inf{
  text-align: center;
}

.btn1,.btn2{
  padding: 0.1rem 0 0.1rem 0;
}







.item-wrap{
  border: 1px solid black;
  
  border-image: linear-gradient(45deg,red,blue) 10;
  
  display: flex;
  justify-content: center;
  height: 5rem;
}


.wrapper{
  cursor: pointer;
  width: 100%;
  height: 10rem;
  display: flex;
  
  overflow-x: auto;
}

svg{
  width: 2rem;
  height: 2rem;
}

.child{
  align-self: flex-end;
  text-align: center;
  padding:0 1rem 0 1rem;
  width: 9rem;
  height: 8rem;
  text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


.wrapper::-webkit-scrollbar{
  width: 0;
}



.career{
  padding: 1rem;
}

.top-prof{
  background-color: #f1f1f1;
  width: 30%;
  height: 50vh;
}
.prof-item img{
  width: 75%;
  height: 75%;
}




.grid{
  display: grid;
  
  grid-gap: 1rem;
}
.items-cat{
  width: 100%;
}

.col{
  border-radius: 2px;
  border: 1px solid black;
  background-color: white !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
 
  
}
.col:hover{
  
  -webkit-box-shadow: 13px -13px 0px -2px rgb(16, 22, 47);
-moz-box-shadow: 13px -13px 0px -2px rgb(16, 22, 47);
box-shadow: 13px -13px 0px -2px rgb(16, 22, 47);
transition: all 1s;
}
.type-c{
  margin: 0;
  padding: 0;
  background-color: #e9fdc5 ;
}


.for-type{
  display: flex;
  justify-content: space-between;
}
.parent{
  
  padding-top: 50rem;   
  display: flex;
  justify-content: center;
  background-image: url('https://camo.githubusercontent.com/61491d59e71fec5c794945fed916a4a682b6c0404fc31f30b08a0d919c558404/68747470733a2f2f696d616765732e73717561726573706163652d63646e2e636f6d2f636f6e74656e742f76312f3537363966633430316236333162616231616464623261622f313534313538303631313632342d5445363451474b524a4738535741495553374e532f6b6531375a77644742546f6464493870446d34386b506f73776c7a6a53564d4d2d53784f703743563539425a772d7a505067646e346a557756634a45315a7657515578776b6d794578676c4e714770304976544a5a616d574c49327a76595748384b332d735f3479737a63703272795449304871544f6161556f68724938504936465879386339505774426c7141566c555335697a7064634958445a71445976707252715a32395077306f2f636f64696e672d667265616b2e676966');
  background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
  

}

.inspired{
  width: 70%;
  
}
.get{
  display: grid;
  gap: 20px;
grid-template-columns: repeat(2,1fr);
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  
}



@media (min-width:768px) {
  .grid{
    grid-template-columns: repeat(2,1fr);

  } 
  
  
}  

@media (min-width:960px) {
  .grid{
    grid-template-columns: repeat(3,1fr);
  }  
}  

@media (min-width:1200px) {
  .grid{
    grid-template-columns: repeat(4,1fr);
  }  
}  
