@media screen and (min-width: 800px) {
  footer li,
  footer h4 {
    list-style: none;
    text-align: center;
  }

  footer {
    background-color: antiquewhite;
    padding-top: 2rem;
  }
  .tophr {
    border: 0.5px solid black;
    background-color: black;
  }
  .container1Foot {
    width: 49%;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .mob-app li img {
    width: 100%;
    height: 100%;
  }

  .download {
    margin-left: 3rem;
    display: flex;
  }

  .mob-app {
    display: flex;
  }
  .container2Foot {
    width: 49%;
    display: flex;
    justify-content: space-around;
  }

  .course-div {
    display: none;
  }

  footer {
    background-color: rgb(255, 240, 229);
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .micro-info,
  .br {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  footer li,
  footer h4 {
    list-style: none;
    text-align: center;
  }
  hr {
    background-color: black;
    border: solid 0.0001em black;
  }

  .cc {
    display: none;
  }
  .container1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    background-color: rgb(255, 240, 229);
  }

  .section-1 {
    text-align: center;
  }
  ul li {
    font-size: 0.9rem;
    margin: 0.4rem 0;
  }

  .resources,
  .title,
  .support,
  .community,
  .iplans,
  .eplans,
  .mobile {
    line-height: 1.5;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .download {
    grid-column: 1/3;
  }
  .download li {
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
    width: 49%;
  }
  .download ul li img {
    margin-left: 1.5rem;
    width: 40%;
    height: 35%;
  }

  .lang h4 {
    text-align: center;
  }

  .lang ul li {
    display: block;
    float: left;
    width: 49%;
  }

  .subjects h4 {
    text-align: center;
  }

  .subjects ul li {
    display: block;
    float: left;
    width: 49%;
  }

  .subjects p {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
  }

  .legal-cont p {
    margin-top: 5rem;
    text-align: center;
  }
}
