.contentLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
  }
  input {
    height: 50px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
  }
  
  .loginButton {
    margin-top: 40px;
    background-color: rgb(58, 16, 229);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
  }
  .loginButton:hover {
    color: rgb(58, 16, 229);
    background-color: rgb(221, 216, 216);
    cursor: pointer;
  }
  h1{
      padding-bottom: 20px;
  }