*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100%;
  background-color: #fff0e5;
}
a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  background-color: white;
}
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 5px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.header-burger {
  display: none;
}
.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header-list li {
  margin-left: 20px;
  list-style: none;
}
.header-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.header-logo {
  overflow: hidden;
  width: 134.88px;
  position: relative;
  z-index: 3;
  max-width: 100%;
  display: block;
}

.header-logo img {
  max-width: 100%;
}
.header-menu button {
  border: none;
  background: none;
  padding: 0px 3px 0px 3px;
}

@media (max-width: 820px) {
  .header-menu button {
    background-color: rgb(58, 16, 229);
    color: white;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.log-in-li {
  margin-left: 5px;
}
.log-li {
  margin-left: 430px;
  padding-right: 0px;
}
.sign-up-header {
  display: none;
}

@media (max-width: 820px) {
  body.lock {
    overflow: hidden;
  }
  .header-body {
    height: 50px;
  }
  .header-logo img {
    max-height: 50px;
    max-width: 134px;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header-burger span {
    background-color: black;
    position: absolute;
    width: 15px;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header-burger::before,
  .header-burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 15px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: white;
    padding: 70px 10px 20px 10px;
  }
  .header-menu.active {
    top: 0;
  }
  .header-list {
    display: flex;
    position: relative;
    z-index: 2;
    display: block;
  }
  .header-list li {
    margin: 0px 20px 20px 0px;
  }
  .header-link {
    font-size: 36px;
  }
  .log-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .log-li {
    margin-left: 0px;
  }
  .sign-up-header {
    display: block;
  }
}
button:hover {
  color: rgb(58, 16, 229);
  background-color: rgb(221, 216, 216);
  cursor: pointer;
}
input {
  height: 50px;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.content {
  padding: 150px 0px 0px 0px;
}
.twoSides {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainRightSide {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding-left: 30px;
}

.insideRightSide {
  max-width: 500px;
}
.mainLeftSide {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  padding-right: 30px;
}
.mainLeftSide img {
  max-width: 500px;
  max-height: 448px;
}
.insideLeftSide {
  max-width: 500px;
}
.insideRightSide h1 {
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.insideRightSide button {
  background-color: rgb(58, 16, 229);
  color: white;
  height: 40px;
  width: 15%;
  border-radius: 6px;
  margin-bottom: 20px;
}

.insideRightSide p {
  width: 90%;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 820px) {
  .content {
    padding: 70px 0px 0px 0px;
  }
}

@media (max-width: 820px) {
  .mainLeftSide {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .mainLeftSide img {
    max-width: 260px;
  }
}
.twoSides {
  display: flex;
  justify-content: center;
}
@media (max-width: 820px) {
}
@media (max-width: 820px) {
  .mainRightSide {
    display: none;
  }
  .rightSide {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .insideLeftSide {
    width: 100%;
  }
}

@media (min-width: 821px) {
  .rightSide {
    opacity: 0;
    height: 10px;
    display: flex;
    justify-content: center;
  }
}

.content2 {
  padding: 70px 0px 0px 0px;
}
.up {
  background-color: rgb(16, 22, 47);
  height: 350px;
  position: relative;
}
.container2 {
  padding: 40px 0px 0px 0px;
}

.p-and-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centering-row {
  display: flex;
  justify-content: center;
}

.categories-buttons {
  position: absolute;
  top: 150px;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.categories-buttons button {
  color: white;
  margin-left: 5px;
  margin-right: 10px;
  font-size: 18px;
  padding: 0;
  border: none;
  background: none;
}
.categories-buttons button:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 3px;
}
.up p {
  color: white;
}
.up h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.centering-row button {
  color: white;
}

.bottom {
  height: 200px;
  background-color: rgb(33, 19, 123);
  width: 100%;
  position: relative;
}
.flex-courses {
  display: flex;
  justify-content: center;
}
.free-courses {
  margin-bottom: 300px;
  position: absolute;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 300px;
  width: 80%;
  top: 250px;
}
.learn {
  background-color: white;
  max-width: 290px;
  height: 180px;
  position: relative;
}
.learn:hover {
  cursor: pointer;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  transition: all 0.1s ease;
  box-shadow: 10px 10px;
}
.learn-top {
  position: absolute;
  top: 10px;
  left: 10px;
}
.learn-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.learn p {
  color: black;
  margin-bottom: 12px;
}
.count {
  font-weight: bold;
}

.learn h3 {
  margin-bottom: 4px;
}

@media (max-width: 820px) {
  .categories-buttons {
    position: absolute;
    top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;
  }
  .free-courses {
    margin-bottom: 300px;
    position: absolute;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    width: 100%;
    top: 250px;
  }
  .learn {
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    height: 250px;
  }
  .bottom {
    height: 350px;
  }
  .up {
    height: 450px;
  }
  .mainRightSide2 img {
    width: 200px;
    max-height: 448px;
  }
}

@media (max-width: 680px) {
  .learn {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
  }
}

@media (min-width: 822px) {
  .learn {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.content3 {
  height: 500px;
  background-color: rgb(255, 211, 0);
  display: flex;
  align-items: center;
}
.mainLeftSide2 {
  width: 50%;
}

.mainLeftSide2 button {
  margin-top: 40px;
  background-color: rgb(58, 16, 229);
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.mainRightSide2 {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  align-items: center;
  width: 50%;
}

.mainRightSide2 img {
  max-width: 500px;
  max-height: 448px;
}
@media (max-width: 820px) {
  .mainRightSide2 img {
    width: 100px;
    max-height: 448px;
  }
}
.content4 {
  height: 600px;
  padding: 70px 0px 0px 0px;
  height: 100%;
}

.content4Text h1 {
  margin-bottom: 10px;
  font-size: 44px;
  margin-left: 10px;
}
.content4Text p {
  margin-bottom: 30px;
  font-size: 18px;
  margin-left: 10px;
}
.peopleFLex {
  display: flex;
  justify-content: center;
  width: 100%;
}
.peopleGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.people {
  margin-left: 10px;
  margin-right: 10px;
}
.people img {
  width: 100%;
}

@media (max-width: 1150px) {
  .peopleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .people {
    margin-bottom: 20px;
  }
  .people img {
    width: 100%;
  }
  .people h2,
  .people p {
    max-width: 300px;
  }
}
@media (max-width: 720px) {
  .peopleGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .people {
    margin-bottom: 20px;
  }
  .people img {
    width: 100%;
  }
  .people h2,
  .people p {
    max-width: 300px;
  }
}
